/* Google Fonts import */
@import url(//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic|Varela+Round);

body {
font-family: 'Lato', sans-serif;
}

a {
	color: #005c73;
}

a:hover {
	color: #d79035;
}

/* Header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Varela Round", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.top-bar-section ul li > a {
	font-family: "Varela Round", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
}

.navbar-default {
	background: url('../img/nav-bg2.png');
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
	background: none;
}

.navbar-default .navbar-nav>li>a, .navbar-default .MeBox .Username, .navbar-default .MeBox .FlyoutButton {
        color: #FFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>li>.Selected, .navbar-default .navbar-nav>li>.Selected:hover, .navbar-default .navbar-nav>li>.Selected:focus, .navbar-default .MeBox .Open .FlyoutButton, .navbar-default .MeBox .Open .FlyoutButton:hover, .navbar-default .MeBox .Open .FlyoutButton:focus {
color: #FFF;
background-color: #2D5466;
}

#footer {
	text-align: center;
}

.has-error {
	color: red;
	font-weight: bold;
}

/* Side notes for calling out things
-------------------------------------------------- */

/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

.InThisConversation .PhotoWrap {
border: none;
width: 50px;
display: inline-block;
}

.InThisConversation .UserLink {
border: none;
display: inline-block;
padding-left: 0;
}

.btn-primary, .Button.Primary {
color: white;
background-color: #005c73;
border-color: #00485a;
}

.btn-primary:hover , .Button.Primary:hover {
  color: white;
  background-color: #003b4a;
  border-color: #00171c;
}

.label-info,.Tag-Announcement{background-color:#744684}
.label-warning, .HasNew {background-color: #d79035}
.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus,.PanelInfo .Active a,.PanelInfo .Active a:hover,.PanelInfo .Active a:focus{z-index:2;color:#fff;background-color:#96d2ba;border-color:#96d2ba}
.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus,.FilterMenu .Active>a,.FilterMenu .Active>a:hover,.FilterMenu .Active>a:focus{color:#fff;background-color:#9a5fb0}
.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus,.NumberedPager .Highlight,.NumberedPager .Highlight:hover,.NumberedPager .Highlight:focus{z-index:2;color:#fff;background-color:#9a5fb0;border-color:#9a5fb0;cursor:default}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .MeBox .Username:hover, .navbar-default .MeBox .FlyoutButton:hover, .navbar-default .MeBox .Username:focus, .navbar-default .MeBox .FlyoutButton:focus {color: #d79035;background-color: transparent;}
.pagination>li>a, .pagination>li>span, .NumberedPager>a, .NumberedPager>span, .NumberedPager>div {color:#2d5477}
.Alert {background-color: #d79035}
.badge,.Count,.Alert{display:inline-block;min-width:10px;padding:3px 7px;font-size:10px;font-weight:600;color: #777;line-height:1;vertical-align:baseline;white-space:nowrap;text-align:center;background-color:#fce9c7;border-radius:10px}


.SpOptions:before, .SpFlyoutHandle:before, .SpPreferences:before, .InformSprite.Gear:before, .InformSprite.Gears:before {
content: "\f013"; padding-right: 10px;
}
